:root {
    --color-1: #010029;
    --color-2: #00296f;
    --color-3: #01629c;
    --color-4: #00a2c5;
    --color-5: #00fff9;
}

html,
body {
    background: var(--color-1);
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0.5rem;
}

header {
    border-bottom: 1px solid var(--color-4);
    padding: 0.75rem 0;
}

main {
    padding: 1rem 0;
}
.name {
    font-size: 2.5em;
    font-weight: bold;
    text-align: start;
    
}